.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.mask {
	position: absolute;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 990;
	background-color: rgba(0,0,0,0.7);
}


strong {
	font-weight: bold;
}





#viewSwitcher {
	position: absolute;
	top: 20px;
	right: 15px;
}

#viewSwitcher ul {
	text-align: right;
}
#viewSwitcher ul li {
	display: inline;
	margin-left: 15px;
	border: solid 1px black;
	padding: 2px 6px;
	
	cursor: pointer;
}

#viewSwitcher ul li:hover {
	background: gray;
}

#viewSwitcher ul li.active {
	background: yellow;
}





#nav {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 50px;
	
	
	border-bottom: solid 1px black;
}

#nav li {
	display: inline-block;
	
	
	
	border: solid 1px black;
	border-bottom: none;
	
}

#nav li strong,
#nav li a {
	display: inline-block;
	padding: 4px 6px;
}

#nav li a:hover {
	background: gray;
}



#letterFilterControll ul {
	display: inline;
}

#letterFilterControll li {
	display: inline;
	padding: 2px 6px;
	
}






#gridView .imgwrap,
#knownmovies .imgwrap {
	height: 155px;
	position: relative;
}

#gridView img,
#knownmovies img {
	max-width: 150px;
	max-height: 150px;
	/*
	
	width: 150px;
	height: 150px;
	display: inline-block;
	*/
	
	cursor: pointer;
	border: solid 2px black;
}

#gridView img:hover,
#knownmovies img:hover {
	border: solid 2px red;
}

#gridView .imgwrap .frameSize,
#knownmovies .imgwrap .frameSize {
	position: absolute;
	top: 0px;
	right: 0px;
	background: white;
	border: solid 1px black;
	padding: 3px;
	font-size: 10px;
	opacity: 0.7;
}

#gridView li,
#knownmovies li {
	display:inline-block;
	vertical-align: top;
	width: 200px;
	text-align: center;
	padding-top: 15px;
}

#gridView li .title,
#knownmovies li .title {
	display: block;
	font-weight: bold;
	min-height: 2em;
	margin-bottom: 2px;
}

#gridView li .genres,
#knownmovies li .genres {
	display: block;
	font-style: italic;
}


#listView {
	margin-left: 10px;
}

#listView li {
	margin-bottom: 5px;
}

#listView img {
	max-width: 50px;
	max-height: 50px;
	display: inline-block;
	
	vertical-align: middle;
	margin-right: 5px;
	border: solid 2px black;
}





#movielist {
	word-wrap: break-word;
	margin-left: 15px;
	
	
}

#movielist li {
	margin-bottom: 3px;
	padding: 2px 0px;
}

#movielist li:hover {
	background: #AAA;
}

#movielist li .numbering {
	white-space: pre;
}





#movieCard,
#movieIdentification {
	position: absolute;
	/*width: 1100px;*/
	min-width: 100px;
	min-height: 20px;
	margin: 10px;
	background: white;
	z-index: 991;
	padding: 10px;
}

#movieIdentification .closeButton {
	position: absolute;
	top: 5px;
	right: 5px;
}

#movieIdentification .identifyName {
	cursor: pointer;
	padding: 5px;
	font-weight: bold;
}

#movieIdentification .identifyName:hover {
	background-color: green;
}

#movieIdentification ul {
	margin-top: 20px;
}

#movieIdentification li {
	display:inline-block;
	vertical-align: top;
	width: 200px;
	text-align: center;
	padding-top: 15px;
}

#movieIdentification li .title {
	display: block;
	font-weight: bold;
}

#movieIdentification li .genres {
	display: block;
	font-style: italic;
}

#movieIdentification .imgwrap {
	height: 155px;
}
#movieIdentification li img {
	max-width: 150px;
	max-height: 150px;
	border: solid 2px transparent;
	cursor: pointer;
}

#movieIdentification li img:hover {
	border-color: red;
}








#movieCard .cover {
	margin-right: 400px;
}

#movieCard .infoPanel {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 390px;
}

#movieCard li {
	padding-bottom: 5px;
}

#movieCard img {
	cursor: pointer;
}

#movieCard li pre {
	display: inline;
	font-family: monospace;
	word-wrap: break-word;
	white-space: pre-wrap;
}



/*
.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}
*/